.image {
  img {
    width: 100%;
    aspect-ratio: 1.618;
    border-radius: var(--radius-l);
    object-fit: cover;
  }
}

.article {
  container-type: inline-size;
  width: 100%;
}

.tag_list {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;

  & li {
    padding: 0 1em;
    border: 1px solid;
    border-radius: 16px;
  }
}

@container (width > 993px) {
  .image img {
    aspect-ratio: 3;
  }
}
